# Ignore the dist/version module
grand/version.py

# Ignore shared libraries
*.so

# Ignore Python bytecode
__pycache__
*.pyc
*.pyo

# Ignore mypy cache
.mypy_cache

# Ignore build and dist temporaries
dist
build*
*.egg-info
*.whl

# Ignore temporary coverage reports
.coverage

# Ignore the Python engine
python3-*.AppImage
python3-*.AppDir

# Ignore PyCharm stuff
.idea

# Ignore local librairies and data
lib/python*
grand/libs/lib*.so
grand/libs/data
grand/tools/data/topography
tests/topography
tests/simulation/data

# Ignore user data
user/grand

# Ignore quality report 
.scannerwork/*
quality/report_*
quality/html_*

# Ignore eclipse config files
.project
.pydevproject

