asttokens
attrs
backcall
black
cffi
click
cycler
decorator
executing
fonttools
h5py
iniconfig
jedi
kiwisolver
matplotlib
matplotlib-inline
mypy-extensions
numpy
packaging
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
ptyprocess
pure-eval
py
pycparser
Pygments
pyparsing
pytest
python-dateutil
scipy
six
stack-data
toml
tomli
traitlets
typing-extensions
wcwidth
numba