# define site  ## not yet needed
SITE  Lenghu
LONG  92.334037  deg
LAT  38.870398  deg 
OBSHEIGHT  2734.0  m
ORIGIN  0.  0.  0.  m  # wrt to obsheight 

#antenna file
ARRAY  ../../CoREAS/regular_array_slopes.txt

#magnetic field: 
THETAGEO  147.43  deg
PHIGEO  0.72  deg
B_COREAS  28.17  -47.48  # Bx  Bz  uT
B_ZHAIRES  54.021  57.43  0.72  # strengh F in uT, inclination I in deg, declination D in deg

# definition sigma in muV (50-200MHz)
VRMS1  15  # after filtering 
VRMS2  28  # before filtering
TSAMPLING  2  ns  # for digitisation

#antenna responses
ANTX  ../lib/python/radio_simus/GRAND_antenna/HorizonAntenna_SNarm_leff_loaded.npy
ANTY  ../lib/python/radio_simus/GRAND_antenna/HorizonAntenna_EWarm_leff_loaded.npy
ANTZ  ../lib/python/radio_simus/GRAND_antenna/HorizonAntenna_Zarm_leff_loaded.npy


# # AddSite Ulastai 42.55 deg 86.68 deg 1500 
# # GeomagneticField 56.5000 uT 63.18 deg 2.72 deg
