asttokens
attrs
backcall
cffi
click
cycler
decorator
executing
fonttools
gitpython
h5py
iniconfig
jedi
kiwisolver
matplotlib
matplotlib-inline
mypy-extensions
numpy
packaging
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
ptyprocess
pure-eval
py
pycparser
Pygments
pyparsing
pytest
python-dateutil
scipy
six
stack-data
toml
tomli
traitlets
typing-extensions
wcwidth
numba
paramiko
scp
SQLAlchemy
sshtunnel
urllib3
astropy
awkward
uproot
jsonschema
psycopg2
lmfit