#----- Configuration for local db -------#
POSTGRES_PASSWORD="pgpass"
GRANDADMIN_PASSWORD="admpwd"
GRANDUSER_PASSWORD="userpwd"
DB_PORT="5432"
WEB_PORT="8081"

#----- Configuration for master db -------#
MASTER_SERVER="granddb.in2p3.fr"
MASTER_DB="granddb"
MASTER_PORT="5432"
MASTER_USER="grandreplication"
MASTER_PASSWORD="password"
